.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 10px 14px;
  border-radius: 999px;

  background: var(--badges);
  font-size: 14px;
}

.tag svg {
  width: 16px;
  height: 16px;
}
