.tags {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 14px;
  border-radius: 999px;
  background: var(--badges);
  color: var(--main);
  font-size: 14px;
  font-weight: 500;
}

.tag svg {
  width: 16px;
  height: 16px;
}
